body
    margin 0
    #root
        position relative
        display flex
        justify-content center
        flex-direction row
        .containerRight
            width 200px
            padding 20px
            background-color lightblue
            border 1px solid black
            .ulTodo_2
                margin 0
                padding 0
                list-style none
                position relative
                .spanDel
                    position absolute
                    right 0
                    color red
                    cursor pointer
            .inputTask
                margin 5px auto
            .btnTask
                margin 0 auto